.success-modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 25%;
    box-sizing: border-box;
    text-align: center;
}

.sm-h1 {
    margin-bottom: 15px;
}